#home_heading{
    width : 100%;
    padding-bottom: 5px;
    margin-top: 0px;
    font-family: 'Lora', serif;
    align-items: center;
    font-size: 25px;
}
body{    
    background: linear-gradient(to bottom right, rgba(250,128,175,100), rgba(66,254,242,100));
}

#icon{
    height:50px;
    width: 50px;
    align-items: left;
    margin-right: 35px;
}


#img_table{
    width: 45%;
    margin: 15px;
    border: 5px double black;
    box-shadow: 5px 5px 5px whitesmoke;
    height: 60%;
}

#hint{
    width: 55%;
    font-size: 20px;
    font-family:  'Lora', serif;

}

.group_head{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
    width: 100%;
    display: inline-block;
}

.group_head i{
    float: right;
}
.group_text {
    height: fit-content;
    font-size: 20px;
    font-family: 'Lora', serif; 
    padding: 15px;
}

.group_details{
    width: 70%;
}

#back{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:2px solid black;
    background-image: url("home.png");
    background-size: contain;
    margin: 10px;
}